---
/**
 * @file TagLinks.astro
 * @description Renders a list of taxonomy tags as linked badge elements.
 */
import CustomLink from "./CustomLink.astro";
const { tags, path } = Astro.props;
const allTags = tags?.nodes;

if (!allTags?.length) return '';

const linkPath = path || 'tags';

---
<div class="related-tags">
  <span class="label">Tags:</span>
  {allTags.map((tag, index) => (
    <>
      <CustomLink
        url={`/${linkPath}/${tag.slug}/`}
        label={tag.name}
        classes={['tag-link']}
      >
        <span class="tag">{tag.name}</span>
      </CustomLink>{index < allTags.length - 1 && <span class="tag-separator">,</span>}
    </>
  ))}
</div>
